<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/layouts/base::head">
	</head>
	<body>
		<header th:replace="/layouts/base::header"></header>
		<section th:replace="/layouts/base::banner(#{plantillaEmpleado.controlEmpleado})"></section>	
		<div th:if="${listaEmpleados != null and !listaEmpleados.empty}">
			<table class="table" >
				<tr>
					<th>[[#{plantillaEmpleado.nombre}]]</th>
					<th>[[#{plantillaEmpleado.apellido}]]</th>
					<th>[[#{plantillaEmpleado.dni}]]</th>
					<th>[[#{plantillaEmpleado.direccion}]]</th>
					<th>[[#{accion.editar}]]</th>
					<th>[[#{accion.eliminar}]]</th>
				</tr>
				<div th:each="empleado:${listaEmpleados}"> 
				<tr>
					<td th:text="${empleado.nombre}"></td>
					<td th:text="${empleado.apellido}"></td>
					<td th:text="${empleado.dni}"></td>
					<td th:text="${empleado.direccion}"></td>
					<td><a th:href="@{/editar/}+${empleado.id}"
						   th:text="Editar"></a></td>
					<td><a th:href="@{/eliminar/}+${empleado.id}">[[#{accion.guardar}]]</a></td>
						   
				</tr>	
				
				</div>
			</table>
		</div>
		<div th:if="${listaEmpleados ==  null or listaEmpleados.empty}">
			<div th:replace='/layouts/base::errorMsg(#{error.listaVaciaTitulo},#{error.listaVaciaMsg})'></div>
		</div>
	</body>
</html>
