<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div th:if="${listaPersonas != null and !listaPersonas.empty}">
			<table border="1">
				<tr>
					<th>nombre</th>
					<th>apellido</th>
					<th>dni</th>
					<th>direccion</th>
				</tr>
				<div th:each="persona:${listaPersonas}"> 
				<tr>
					<td th:text="${persona.nombre}"></td>
					<td th:text="${persona.apellido}"></td>
					<td th:text="${persona.dni}"></td>
					<td th:text="${persona.direccion}"></td>

				</tr>	
				
				</div>
			</table>
		</div>
		<div th:if="${listaPersonas ==  null or listaPersonas.empty}">
			<p>lista vacia</p>
		</div>

	</body>
</html>
